

        <footer>
            <span>Todos os direitos reservados &copy; 2021</span>
        </footer>
        
    </div>
    <script src="https://kit.fontawesome.com/d8cb5d54e7.js" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>