<%- include ('../partials/head.ejs') %>
        <div id="header-area">
            <%- include ('../partials/header.ejs') %>
            <!-- Start articles section CSS: news.css -->
            <article>
                <div id="button">
                    <a href="/categories/page/1">Ver todas as categorias</a>
                </div>
                <section>
                    <h2>Nova Categoria</h2>
                    <form action="/new/category" method="post">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" required id="name">
                        <label for="tipo">Tipo:</label>
                        <select name="type" id="type" onclick="byType()" required>
                            <option disabled selected value="">Selecione abaixo</option>
                            <option value="receita">Receita</option>
                            <option value="gastos">Gastos</option>
                        </select>
                        <label for="pre_pos">Pré/Pós Investimento:</label>
                        <select name="pre_pos" id="pre_pos" required>
                            <option disabled selected value="">Selecione abaixo</option>
                            <option value="pre">Pré Investimentos</option>
                            <option value="pos">Pós Investimentos</option>
                        </select>
                        <input type="submit" value="Registrar">
                    </form>
                </section>
            </article>
            <!-- Fim articles section CSS: news.css -->
        </div>
        <%- include ('../partials/footer.ejs') %>